.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #120;
  color: white;
 padding-left: 1rem;
 padding-right: 1rem;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}
